<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">

  <body>
    <img src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
    <h2>Something happened!!! Run That time with flux</h2>

    <h2>this is new deployment testing in kube vm 11 deploy test</h2>
    <h3>Deploy 2</h3>

    <h4> cape-app</h4>
    <h4>cape-dev</h4>

    
  
    
    <p th:text="${message}">Exception message</p>
  </body>

</html>
